// Import Variables
@import "base/variables";
@import "base/mixins";

// Import Bootstrap for Sass
@import "vendor/bootstrap";

// Import Grid Css
@import "layout/grid";

// Import Type Styles
@import "base/typography";


html {
  overflow-y: scroll;

}
body{
  overflow-x: hidden;
  -webkit-backface-visibility: hidden;
}

.animate {
    visibility: hidden;
}
// Import Module Styles
@import "modules/header";
@import "modules/header-home";
@import "modules/block-section";
@import "modules/project-block";
@import "modules/blog-section--home";
@import "modules/twitter-section";
@import "modules/footer";
//@import "modules/blog-listing";
@import "modules/blog-listing--single";
@import "modules/blog-listing--scroll";
@import "modules/work-single";
@import "modules/about";




