$max-width: 1400px;


$brand-grey:             #42484D;
$sub-grey:               #9b9b9b;



// Additional font weights
$font-family-sans-serif-light:  'Avenir Next W01 Light', Helvetica, Arial, sans-serif;
$font-family-sans-serif-regular:  'AvenirNextLTW01-Regular', Helvetica, Arial, sans-serif;
$font-family-sans-serif:  "AvenirNextLTW01-Medium", Helvetica, Arial, sans-serif;
$font-family-sans-serif-demi:  'Avenir Next LT W01 Demi', Helvetica, Arial, sans-serif;


$border-bottom-heading:  3px solid;
