.blog-entry {
    background:$white;
}

.blog-entry--list {

}

.blog-entry--single {
margin: 0 0 ($grid-gutter-width * 4.5) 0;

}

.blog-entry--title {

}

.blog-entry--image {
  background-position: center;
}
.blog-entry--excerpt{
  min-height: 150px;
  //border-bottom: 1px solid $gray-light;

}

.blog-entry--excerpt p {
  margin-right: ($grid-gutter-width * 3);
}
.blog-entry--single p a{
  @include link-underline-base($brand-primary , $white);
  @include link-underline-position($font-size-base);
}

.blog-entry--title h2, .blog-entry--single h2{
   // color: #3a3a3a;
    font-size: $font-size-base;
    font-family: $font-family-sans-serif-demi;
    margin: ($grid-gutter-width * 3) 0 ($grid-gutter-width * 3) 0;
}

.blog-entry--title h2 a, .blog-entry--single h2 a {
  @include link-underline-base($brand-primary , $white);
  @include link-underline-position($font-size-base);
}


.blog-entry--meta {
  font-size: $font-size-small;
color: $gray-light;
}

.blog-entry--meta p a{
  @include link-underline-base($brand-primary , $white);
  @include link-underline-position($font-size-small)

}


