.block-section {
  background: $white;
}

.block-section--heading {
  padding: ($grid-gutter-width * 4.5) 0 ($grid-gutter-width * 3) 0;
  color: $gray-light;
  @media screen and (min-width: $screen-sm-min) {
    padding: ($grid-gutter-width * 9) 0 ($grid-gutter-width * 4.5) 0;
  }
}

.block-section--heading p {
  margin-bottom: 0;
}
