.blog-section {
  background: $white;
  padding-bottom: $grid-gutter-width * 3;
  @media screen and (min-width: $screen-sm-min) {
    padding-bottom:($grid-gutter-width * 4.5);
  }
  border-bottom: $border-bottom-divide $gray-light-border;
}

.blog-section--text {
  padding-top: 0;
  padding-bottom:($grid-gutter-width * 3);
  color: $gray-light;
  @media screen and (min-width: $screen-sm-min) {
    padding-bottom:($grid-gutter-width * 4.5);
  }
}

.blog-section--text p {
  margin-bottom: 0;
}

.blog-section--text a {
  display: inline-block;
  margin-bottom: 0;
  @media screen and (min-width: $screen-sm-min) {
  margin-bottom: $grid-gutter-width;
  }

}


.blog-section h1{
  display: inline;
  margin: 0 0 $grid-gutter-width 0;
  color: $brand-primary;
  font-family: $font-family-sans-serif;
  //text-decoration: $link-hover-underline;
  //border-bottom: $border-bottom-heading $brand-primary;
  font-size: $font-size-base;
    @media screen and (min-width: $screen-sm-min) {
      //border-bottom: $border-bottom-heading-lg $brand-primary;
      font-size: $font-size-h2;
      font-family: $font-family-sans-serif-demi;
      margin: 0 0 $grid-gutter-width * 2 0;
    }
    @media screen and (min-width: $screen-md-min) {

    }
}
.blog-section h1:after {
  content: "→";
  font-family: $font-family-monospace;
  font-weight: normal;
  transition: all 0.25s ease-in-out;
  margin-left: $grid-gutter-width;
  opacity: 1;
}
.blog-section a:hover h1:after {
  margin-left: ($grid-gutter-width * 2);
  @media screen and (min-width: $screen-sm-min) {
    margin-left: ($grid-gutter-width * 2);
    }
}
.blog-section h4 {
  margin: 0 0 $grid-gutter-width 0;
  font-size: $font-size-base;
  @media screen and (min-width: $screen-sm-min) {
    font-size: $font-size-h4;
  }
}

