.container-fluid--bloglist {
  //max-width: $max-width + ($grid-gutter-width * 2);
  margin-bottom:($grid-gutter-width * 3);
  @media screen and (min-width: $screen-sm-min) {}
}


.no-gutter{
    margin-left: - $grid-gutter-width;
    margin-right: - $grid-gutter-width;
  @media screen and (min-width: $screen-sm-min) {
    margin-left: - $grid-gutter-width;
    margin-right: - $grid-gutter-width;
  }
}

.blog-item {
  @media screen and (min-width: $screen-sm-min) {
    margin-top: $grid-gutter-width;
  }
}

.blog-item--wrap {
  background: $white;
  margin-left: 0;
  margin-right: 0;
  padding-top: ($grid-gutter-width * 3);
  padding-bottom:($grid-gutter-width * 3);
  @media screen and (min-width: $screen-sm-min) {
    border-bottom: none;
    padding-top: ($grid-gutter-width * 4.5);
    padding-bottom:($grid-gutter-width * 4.5);
  }
}
.blog-item--wrap h3 {
    margin-top: 0;
}
.blog-item--wrap h3 a {
  font-size: $font-size-h4;
  @include link-underline-base($brand-primary, $white);
  @include link-underline-position($font-size-h4);
  @media screen and (min-width: $screen-sm-min) {
  font-size: $font-size-h4;
  @include link-underline-position($font-size-h4);
  }
  @media screen and (min-width: $screen-md-min) {
  font-size: $font-size-h3;
  @include link-underline-position($font-size-h3);
  }
}

.blog-item--meta {
  padding-top: ($grid-gutter-width * 4.5);
  @media screen and (min-width: $screen-sm-min) {
    padding-top: ($grid-gutter-width * 4.5);
  }
}

.blog-item--meta a{
  font-size: $font-size-base;
  @include link-underline-base($brand-primary, $white);
  @include link-underline-position($font-size-base);
}
