.blog-section {
  background: $white;
  padding-bottom: $grid-gutter-width * 3;
  border-bottom: $border-bottom-divide $gray-light-border;
  @media screen and (min-width: $screen-sm-min) {
    padding-bottom:($grid-gutter-width * 4.5);
  }
}

.blog-section--text {
  padding-top: 0;
  padding-bottom:($grid-gutter-width * 3);
  color: $gray-light;
  @media screen and (min-width: $screen-sm-min) {
    padding-bottom:($grid-gutter-width * 4.5);
  }
}

.blog-section--text p {
  margin-bottom: 0;
}

.blog-section--text a {
  display: inline;
  margin-bottom: 0;
  @media screen and (min-width: $screen-sm-min) {
  margin-bottom: $grid-gutter-width;
  }
}

.blog-section h1{
  display: inline;
  margin: 0 0 $grid-gutter-width 0;
  color:  $gray-dark;
  font-size: $font-size-base;
  @include link-underline-base($brand-primary , $white);
  @include link-underline-position($font-size-base);
  @media screen and (min-width: $screen-sm-min) {
    @include link-underline-position($font-size-h4);
    font-size: $font-size-h4;
    margin: 0 0 $grid-gutter-width * 2 0;
  }
  @media screen and (min-width: $screen-md-min) {
    font-size: $font-size-h3;
    @include link-underline-position($font-size-h3);
  }
}

.blog-section a:after{
    @media screen and (min-width: $screen-md-min) {
    content: "→";
    color:$gray-light;
    font-size: $font-size-h2;
    float: right;
    margin-right: $grid-gutter-width;
    opacity: 1;
    transition: all 0.2s ease;
    }
  }

.blog-section a:hover:after{
    @media screen and (min-width: $screen-sm-min) {
      margin-right: 0
    }
  }


.project-block--link h4:after {
  content: "→";
  font-weight: normal;
  transition: all 0.3s ease;
  margin-left: $grid-gutter-width;
  opacity: 1;
}
.project-block a:hover h1:after {
  @media screen and (min-width: $screen-sm-min) {
    margin-left: ($grid-gutter-width * 3);
  }
}

.blog-section h4 {
  margin: 0 0 $grid-gutter-width 0;
  font-size: $font-size-base;
  @media screen and (min-width: $screen-sm-min) {
    font-size: $font-size-h4;
  }
}


