.block-section {
  background: $white;
}

.block-section--heading {
  padding-top: ($grid-gutter-width * 4.5);
  padding-bottom:($grid-gutter-width * 3);
  color: $gray-light;
  @media screen and (min-width: $screen-sm-min) {
    padding-top: ($grid-gutter-width * 9);
    padding-bottom:($grid-gutter-width * 4.5);
  }
}

.block-section--heading p {
  margin-bottom: 0;
}
