.blog-entry {
    background:$white;
}

.blog-entry--list {
}

.blog-entry--single {
margin: 0 0 ($grid-gutter-width * 3) 0;

@media screen and (min-width: $screen-sm-min) {
  margin: 0 0 ($grid-gutter-width * 6) 0;
  }

}

.blog-entry--title {
}

.blog-entry--image {
  background-position: center;
  background-size: cover !important;
  padding-bottom: 60%;
  //border-top: ($grid-gutter-width / 2) solid $brand-primary;

}
.blog-entry--excerpt{
  min-height: 160px;
  //border-bottom: 1px solid $gray-light;

}

.blog-entry--excerpt p {
  margin-right: ($grid-gutter-width * 3);
}
.blog-entry--single p a{
  @include link-underline-base($brand-primary , $white);
  @include link-underline-position($font-size-base);
}

.blog-entry--single h2{
   // color: #3a3a3a;
    font-size: $font-size-base;
    font-family: $font-family-sans-serif-demi;
    margin: ($grid-gutter-width * 3) 0 ($grid-gutter-width * 2) 0;
    @media screen and (min-width: $screen-sm-min) {
    font-size: $font-size-h4;
  }
}

.blog-entry--single h2 a {
  @include link-underline-base($brand-primary , $white);
  @include link-underline-position($font-size-base);
  @media screen and (min-width: $screen-sm-min) {
    @include link-underline-position($font-size-h4);
  }
}


.blog-entry--meta {
  font-size: $font-size-small;
color: $gray-light;
}

.blog-entry--meta p a{
  @include link-underline-base($brand-primary , $white);
  @include link-underline-position($font-size-small)

}


