.blog-entry {
    background:$white;
}

.blog-entry--list {
}

.blog-entry--single {
margin: 0 0 ($grid-gutter-width * 3) 0;

@media screen and (min-width: $screen-sm-min) {
  margin: 0 0 ($grid-gutter-width * 6) 0;
  }

}

.blog-entry--title {
}

.blog-entry--image {
  background-position: center;
  background-size: cover !important;
  padding-bottom: 60%;
  //border-top: ($grid-gutter-width / 2) solid $brand-primary;

}
.blog-entry--excerpt{
  min-height: 160px;
  //border-bottom: 1px solid $gray-light;

}

.blog-entry--excerpt p {
  margin-right: ($grid-gutter-width * 3);
}
.blog-entry--single p a{
  @include link-underline-base($brand-primary , $white);
  @include link-underline-position($font-size-base);
}

.blog-entry--single h2{
   color:  $gray-dark;
    font-size: $font-size-base;
    font-family: $font-family-sans-serif-demi;
    margin: ($grid-gutter-width * 3) 0 ($grid-gutter-width * 2) 0;
    @media screen and (min-width: $screen-sm-min) {
    font-size: $font-size-h4;
  }
}

.blog-entry--single h2 a {
  @include link-underline-base($brand-primary , $white);
  @include link-underline-position($font-size-base);
  @media screen and (min-width: $screen-sm-min) {
    @include link-underline-position($font-size-h4);
  }
}


.blog-entry--meta {
  font-size: $font-size-small;
color: $gray-light;
}

.blog-entry--meta p a{
  @include link-underline-base($brand-primary , $white);
  @include link-underline-position($font-size-small)

}

.blog-header {
    background: $brand-primary;
    position: relative;
}

.blog-header--image {
    background-position: center !important;
    background-size: cover !important;
    opacity: 0.25;
    padding-bottom: 100%;
    @include greyscale;
    @media screen and (min-width: $screen-sm-min) {
    padding-bottom: 40%;
    }
}

.blog-header--text {
      color: $white;
    position: absolute;
    bottom:10%;
}

.blog-header--text h1{
    color: $white;
    font-size: $font-size-base;
    margin-bottom:  ($grid-gutter-width / 2);
    @media screen and (min-width: $screen-sm-min) {
        font-size: $font-size-h4;
    }
    @media screen and (min-width: $screen-md-min) {
    }
}

.blog-header--text p, .blog-header--text a{
    color: $white;
     @media screen and (min-width: $screen-sm-min) {
        font-size: $font-size-h5;
        line-height: 1.35;
    }
    @media screen and (min-width: $screen-md-min) {
      font-size: $font-size-h4;
    }
}

.blog-header--text a {
    @include link-underline-base($white);
    @include link-underline-position($font-size-base);
    @media screen and (min-width: $screen-sm-min) {
        @include link-underline-base($white);
        @include link-underline-position($font-size-h5);
    }
    @media screen and (min-width: $screen-md-min) {
      @include link-underline-base($brand-primary , $white);
      @include link-underline-position($font-size-h4);
    }
}

.blog-navigation--links {
  padding-top: ($grid-gutter-width * 4.5);
  padding-bottom:($grid-gutter-width * 3);

  @media screen and (min-width: $screen-sm-min) {
    padding-top: ($grid-gutter-width * 6);
    padding-bottom:($grid-gutter-width * 4.5);
  }
}

.blog-navigation--links a {
  @include link-underline-base($brand-primary, $white);
  @include link-underline-position($font-size-base);
}


.categories-p {
  float: none;
  @media screen and (max-width: ($screen-sm-min - 1)) {
     padding-top: ($grid-gutter-width * 3);
  }
}


.link-left p a:first-child:before {
  @media screen and (min-width: $screen-sm-min) {
  content: "←";
  //font-family: $font-family-monospace;
  font-weight: normal;
  transition: all 0.3s ease;
  margin-right: $grid-gutter-width;
}
}
.link-left p a:hover:before {
  @media screen and (min-width: $screen-sm-min) {
    margin-right: ($grid-gutter-width * 2);
  }
}

.link-right p a:first-child:after {
  @media screen and (min-width: $screen-sm-min) {
  content: "→";
  //font-family: $font-family-monospace;
  font-weight: normal;
  transition: all 0.3s ease;
  margin-left: $grid-gutter-width;
}
}
.link-right p a:hover:after {
  @media screen and (min-width: $screen-sm-min) {
    margin-left: ($grid-gutter-width * 2);
  }
}
