.block-section {
  background: $white;
}

.block-section--heading {
  padding-top: ($grid-gutter-width * 4.5);
  padding-bottom:($grid-gutter-width * 3);

  @media screen and (min-width: $screen-sm-min) {
    padding-top: ($grid-gutter-width * 9);
    padding-bottom:($grid-gutter-width * 4.5);
  }
}

.block-section--heading p {
  margin-bottom: 0;
  @media screen and (min-width: $screen-sm-min) {
    color: $brand-grey;
    font-size: $font-size-h4;
  }
}


.page-section--heading {
   padding-top: ($grid-gutter-width * 4.5);
  padding-bottom:($grid-gutter-width * 3);

  @media screen and (min-width: $screen-sm-min) {
    padding-top: ($grid-gutter-width * 6);
    padding-bottom:($grid-gutter-width * 6);
  }

}
