
.container-fluid--home {
  background-color: $brand-primary;

}
// Navbar Brand/project name

.navbar-brand {
  float: left;
  padding: $navbar-padding-vertical 0px;
  font-size: $font-size-large;
  line-height: $line-height-computed;
  height: $navbar-height;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  > img {
    display: block;
  }

  @media (min-width: $grid-float-breakpoint) {
    .navbar > .container &,
    .navbar > .container-fluid & {
      margin-left: -$navbar-padding-horizontal;
    }
  }
}

.navbar-nav li:last-child a {
  padding-right: 0px;
}




.navbar-nav > li {
   opacity: 1.0;
   transition: all 0.25s ease-in-out;
   transform: translateZ(0);
   font-family:$font-family-sans-serif-demi;
}


// Navbar toggle
//
// Custom button for toggling the `.navbar-collapse`, powered by the collapse
// JavaScript plugin.

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: $navbar-padding-horizontal;
  padding: 9px 0px;
  @include navbar-vertical-align(34px);
  background-color: transparent;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  border-radius: $border-radius-base;

  // We remove the `outline` here, but later compensate by attaching `:hover`
  // styles to `:focus`.
  &:focus {
    outline: 0;
  }

  // Bars
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }

  @media (min-width: $grid-float-breakpoint) {
    display: none;
  }
}

.navbar-toggle {
  border: none;
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.25s ease-in-out;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggle.collapsed {
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}



// Navbar work arrow
.navbar-nav li:first-child a:after {
  content: "↓";
  font-family: $font-family-monospace;
  font-weight: normal;
  transition: all 0.25s ease-in-out;
  opacity: 1;
  position: relative;
  top:0px;
  @media screen and (min-width: $screen-sm-min) {
    opacity: 0;
    top:-10px;
  }
  margin-left: 5px;
  margin-right: -5px;
}

.navbar-nav li:first-child:hover a:after {
  content: "↓";
  opacity: 1;
  top:0px;
}




// Navbar hover inactive items
.navbar-nav:hover > li {
  opacity: 0.5;
}

.navbar-nav:hover > li:hover {
  opacity: 1.0;
}



// Navabr mobile link padding

@media screen and (max-width: $screen-sm - 1) {


.nav {
  > li {
    > a {
      padding: $nav-link-padding-small;
       }
    }
  }
}



// Navbar collapse (body)
//
// Group your navbar content into this for easy collapsing and expanding across
// various device sizes. By default, this content is collapsed when <768px, but
// will expand past that for a horizontal display.
//
// To start (on mobile devices) the navbar links, forms, and buttons are stacked
// vertically and include a `max-height` to overflow in case you have too much
// content for the user's viewport.


@media (max-width: $grid-float-breakpoint) {
.navbar-collapse {
  overflow-x: visible;
  padding-right: $navbar-padding-horizontal;
  padding-left:  $navbar-padding-horizontal;
  border-top: none;
  box-shadow: none;
  @include clearfix;
  overflow-scrolling: touch;
  &.in {
    overflow-y: auto;
  }
}
}




//
// Jumbotron
// --------------------------------------------------


.jumbotron {
  padding: $jumbotron-padding 0 0 0;
  margin-bottom: $jumbotron-padding;
  color: $jumbotron-color;
  background-color: transparent;

  h1,
  .h1 {
    color: $jumbotron-heading-color;
    font-size: $font-size-h4;
  }

  p {
    margin-bottom: ($jumbotron-padding / 2);
    font-size: $jumbotron-font-size;
    font-weight: 200;
  }

  > hr {
    border-top-color: darken($jumbotron-bg, 10%);
  }

  a {
    color: $white;
  }

   @media screen and (min-width: $screen-sm-min) {
    padding: ($jumbotron-padding * 6) 0 ($jumbotron-padding * 3) 0;

    .container &,
    .container-fluid & {
      padding-left:  ($jumbotron-padding * 0);
      padding-right: ($jumbotron-padding * 0);
    }
    h1,
     .h1 {
       font-size: $font-size-h2;

    }
  }
  @media screen and (min-width: $screen-md-min) {
    padding: ($jumbotron-padding * 5) 0 ($jumbotron-padding * 3) 0;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding: ($jumbotron-padding * 7) 0 ($jumbotron-padding * 3) 0;
  }
}
