.twitter-block-section {
  background: $white;
}

.twitter-block-section--heading {
  color: $brand-grey;
  padding-top: ($grid-gutter-width * 4.5);
  padding-bottom: ($grid-gutter-width * 4.5);
  @media screen and (min-width: $screen-sm-min) {
    padding-top: ($grid-gutter-width * 9);
  }
}

.twitter-block-section--heading  h4{
    margin-bottom: 0;
}

.twitter-block-section--heading h4:before {
content: url('../img/twitter-icon.svg');
display: block;
width: 28px;
margin-right: ($grid-gutter-width * 2);
float: left;
}

.twitter-section {
  background: $white;
  padding-bottom: $grid-gutter-width *4.5;
}

.twitter-section--text {
  padding-top: 0;
  padding-bottom: ($grid-gutter-width * 2.5);
  color: $gray-light;
  @media screen and (min-width: $screen-sm-min) {
    padding-top: 0;
    padding-bottom: ($grid-gutter-width * 4.5);
  }
}

.twitter-section--text  p { margin-bottom: ($grid-gutter-width * 1.5); }
.twitter-section--text  p+p {
  color: $gray;
  @media screen and (min-width: $screen-sm-min) {
   font-size: $font-size-base*1.125;
  }
}

.twitter-section--text  a {
  text-decoration: $link-hover-underline;
}

.twitter-section-date {
}
